files:
  '/opt/elasticbeanstalk/support/conf/puma_extend_conf.rb':
     mode: "000644"
     owner: root
     group: root
     content: |
       if ENV['IS_ADMIN'] === 'true'
         before_fork do
           require 'puma_worker_killer'
           PumaWorkerKiller.config do |config|
             config.ram = 2048
             config.frequency = 15
             config.percent_usage = 0.98
             config.rolling_restart_frequency = 5 * 60
             config.reaper_status_logs = true
           end
           PumaWorkerKiller.enable_rolling_restart
           PumaWorkerKiller.start
         end
       end

container_commands:
    backup_pumaconf:
      command: |
        cp /opt/elasticbeanstalk/support/conf/pumaconf.rb /opt/elasticbeanstalk/support/conf/pumaconf_backup.rb
      test: "test ! -e /opt/elasticbeanstalk/support/conf/pumaconf_backup.rb"
    generate_pumaconf:
      command: |
        rm /opt/elasticbeanstalk/support/conf/pumaconf.rb
        cp /opt/elasticbeanstalk/support/conf/pumaconf_backup.rb /opt/elasticbeanstalk/support/conf/pumaconf.rb
        cat /opt/elasticbeanstalk/support/conf/puma_extend_conf.rb >> /opt/elasticbeanstalk/support/conf/pumaconf.rb

