files:
  '/opt/elasticbeanstalk/support/conf/puma_extend_conf.rb':
     mode: "000644"
     owner: root
     group: root
     content: |
       if ENV['IS_ADMIN'] === 'true'
         before_fork do
           require 'puma_worker_killer'
           PumaWorkerKiller.config do |config|
             config.ram = %x(free -m | awk '/Mem:/ {printf("%d",$2 / 1000 + 0.5)}' | awk '{printf("%d",$1 * 1024)}').to_i
             config.frequency = 15
             config.percent_usage = 0.25
             config.rolling_restart_frequency = 5 * 60 * 60
             config.reaper_status_logs = true
             config.pre_term = -> (worker) { puts "Worker #{worker.inspect} being killed" }
           end
           PumaWorkerKiller.enable_rolling_restart
           PumaWorkerKiller.start
         end
       end

container_commands:
    01_backup_pumaconf:
      command: |
        cp /opt/elasticbeanstalk/support/conf/pumaconf.rb /opt/elasticbeanstalk/support/conf/pumaconf_backup.rb
      test: "test ! -e /opt/elasticbeanstalk/support/conf/pumaconf_backup.rb"
    02_generate_pumaconf:
      command: |
        rm /opt/elasticbeanstalk/support/conf/pumaconf.rb
        cp /opt/elasticbeanstalk/support/conf/pumaconf_backup.rb /opt/elasticbeanstalk/support/conf/pumaconf.rb
        cat /opt/elasticbeanstalk/support/conf/puma_extend_conf.rb >> /opt/elasticbeanstalk/support/conf/pumaconf.rb
