files:
  '/opt/elasticbeanstalk/support/conf/require_puma_extend_conf.rb':
    mode: "000644"
    owner: root
    group: root
    content: |
      require './puma_extend_conf.rb'

  '/opt/elasticbeanstalk/support/conf/puma_extend_conf.rb':
     mode: "000644"
     owner: root
     group: root
     content: |
       if ENV['IS_ADMIN'] === 'true'
         before_fork do
           require 'puma_worker_killer'
           PumaWorkerKiller.config do |config|
             config.ram = 2048 # メモリ量(MB)
             config.frequency = 15    # forkされたpumaのリスタートの時間差(多分
             config.percent_usage = 0.98 # メモリを何%使ったら再起動する
             config.rolling_restart_frequency = 5 * 60 # 何秒に1回再起動するか
             config.reaper_status_logs = true #ログ出力(デバッグ用
           end
           PumaWorkerKiller.enable_rolling_restart
           PumaWorkerKiller.start
         end
       end

container_commands:
  00_add_require_puma_extend_conf:
    command: |
      cat /opt/elasticbeanstalk/support/conf/require_puma_extend_conf.rb >> /opt/elasticbeanstalk/support/conf/pumaconf.rb
    test: "test ! -e /home/ec2-user/add_puma_extend_conf_done"
  01_add_require_puma_extend_conf_done:
    command: "touch /home/ec2-user/add_puma_extend_conf_done"
    test: "test ! -e /home/ec2-user/add_puma_extend_conf_done"
