container_commands:
    setup_puppeteer:
        test: "[ $PROCESS_ACTIVE_ELASTIC_JOBS = 'true' ] && [ ! -d /usr/bin/google-chrome-stable ]"
        command: |
            curl -sL https://rpm.nodesource.com/setup_10.x | sudo bash -
            sudo yum install -y nodejs
            npm install puppeteer
            chmod +x ./.ebextensions/headless-chrome/install-google-chrome.sh
            ./.ebextensions/headless-chrome/install-google-chrome.sh
