body {
  margin: 0;
}

h2 {
  font-weight: 400;
  color: #1f2f3d;
  font-size: 28px;
  margin: 0;
}

.side-nav {
  color: #333;
  border-right: solid 1px #e6e6e6;
  height: 100%;

  a {
    text-decoration: none;
  }

  .active {
    a, i {
      color: #409eff !important;
    }
  }

  a:hover {
    color: #409eff;
  }

  a:visited {
    color: #444;
  }

  ul.el-menu {
    border: none;
  }
}

.mt-8 {
  margin-top: 8px;
}
